body {
  font-size: 28px;
}

body {
  background-image: url("inini.jpeg");
  background-attachment: fixed;
  background-size: cover;
  
}


h1 {
  color: rgb(148, 75, 216);
  text-shadow: 2px 2px 4px #672eec
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(34, 94, 99, 0.993);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  opacity: 0.9;

}



li {
  float: left;
}

li a {
  display: block;
  color: rgb(29, 104, 110);
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(19, 117, 112);
}

.active {
  background-color: #020527;
}

.center {
  display: table;
  width: 100%;
  height: 100vh;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
 }

  social {
    padding-left: 0px;
  }
  li {
    display: inline-block;
  }
  li a {
    color: rgb(247, 15, 15);
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 1%;
    border: 1px solid rgb(247, 12, 12);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
   }
  


.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
 }



  